<div>
  <form *ngIf="!isUpdateFormActive" #addForm="ngForm" (ngSubmit)="save(addForm)">
    <div>Staff Name: 
      <input name="name" [(ngModel)]="addModel.name" required minlength="3" maxlength="10" autocomplete="off" type="text">
    </div>
    <div>
      department: 
      <select [(ngModel)]="addModel.profession" name="profession" required>
      <option>Accounting</option>
      <option>finance</option>
      <option>Software</option>
    </select>
    </div>
    <div>
      Date of start:
      <input [(ngModel)]="addModel.dateOfStart" name="dateOfStart" required type="date">
    </div>
    <button [disabled]="!addForm.valid">Send</button>
  </form>
</div>

<div>
  <form *ngIf="isUpdateFormActive" #updateForm="ngForm" (ngSubmit)="update(updateForm)">
    <div>Staff Name: 
      <input name="updatenName" [(ngModel)]="updateModel.name" required minlength="3" maxlength="10" autocomplete="off" type="text">
    </div>
    <div>
      department: 
      <select [(ngModel)]="updateModel.profession" name="updateProfession" required>
      <option>Accounting</option>
      <option>finance</option>
      <option>Software</option>
    </select>
    </div>
    <div>
      Date of start:
      <input [(ngModel)]="updateModel.dateOfStart" name="updateDateOfStart" required type="date">
    </div>
    <button [disabled]="!updateForm.valid" >Update</button>
    <button (click)="cancel()">Cancel</button>
  </form>
</div>

<hr>
<div>
  <table>
    <thead>
      <td>#</td>
      <td>Staff Name</td>
      <td>Department</td>
      <td>Date Of Start</td>
      <td>Transactions</td>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees let index = index">
        <td>{{index+1}}</td>
        <td>{{e.name}}</td>
        <td>{{e.profession}}</td>
        <td>{{e.dateOfStart | date: 'dd.MM.yyyy'}}</td>
        <td><button (click)="get(e,index)">Update</button></td>
      </tr>
    </tbody>
  </table>
</div>